################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNETTraining/DotNETTraining/bin/Debug
/DotNETTraining/DotNETTraining/obj/Debug
